# ============================================
#   TechStore — Variables de entorno
# ============================================

# MongoDB Atlas — reemplaza con tu connection string
MONGODB_URI=mongodb+srv://<usuario>:<password>@cluster0.xxxxx.mongodb.net/techstore?retryWrites=true&w=majority

# Puerto del servidor
PORT=5000

# JWT Secret — cambia por una clave segura
JWT_SECRET=techstore_secret_key_2024

# Entorno
NODE_ENV=development
